@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --color-primary-1: #ffefea;
    --color-primary-2: #595959;
    --color-primary-3: #b30027;
    --color-primary-4: #ee284d;
    --color-primary-5: #e3405e;
    --color-primary-6: #ee284d;

    --color-neutral-0: #fff;
    --color-neutral-1: #1d1d1d;
    --color-neutral-2: #000;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    background-color: var(--color-neutral-0);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-primary-1);
    width: 100%;
    padding-top: 100px; 
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: var(--color-neutral-0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    height: 80px; 
}

.logo {
    font-size: 32px;
    color: var(--color-neutral-2);
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: var(--color-neutral-2);
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--color-primary-6);
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

.formulario {
    margin-top: 100px; 
    padding: 30px;
    background-color: var(--color-neutral-0);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

form input, form select, form button {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border: 2px solid var(--color-primary-2);
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
}

form button {
    background-color: var(--color-primary-6);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: var(--color-primary-5);
}

form input[type="text"], form select {
    font-size: 16px;
}

form select {
    background-color: var(--color-neutral-0);
    color: var(--color-neutral-2);
}

#lista-pecas {
    margin-top: 20px;
    padding: 10px;
    background-color: var(--color-neutral-0);
    border-radius: 8px;
    border: 2px solid var(--color-primary-2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#lista-pecas ul {
    list-style-type: none;
    padding: 0;
}

#lista-pecas li {
    font-size: 16px;
    color: var(--color-primary-2);
    margin-bottom: 8px;
}

